﻿<div class="top-row pl-4 navbar navbar-dark" style="background-color:white">
    <a class="navbar-brand" href="https://sila-standard.com/" target="_blank" style="margin-left:15px"><img style="max-width:40px;max-height:40px;" src="./silacsharp.png" /><span style="padding-left: 10px; padding-right: 10px; color: navy; font-weight:bold">Server Manager</span></a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-monitor" aria-hidden="true"></span>SiLA2 Servers
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
