﻿
/*.table-striped > tbody > tr:nth-child(odd) > td, 
.table-striped > tbody > tr:nth-child(odd) > th {
    background-color: azure;
}

.info-main {
    background-color: azure;
    color: navy;
    font-weight: 600
}*/
